<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPersonal.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Andrade Gaitan Agustin</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium blanditiis veritatis expedita recusandae aut nisi eligendi tenetur obcaecati qui ratione atque accusamus minus sapiente praesentium magni, voluptate incidunt consequuntur libero.</p>
        </span>
    </div>
</div>
