<div class="row">
    <h1>Hard y Soft skills</h1>
   <div class="tex-center col-sm-4 col-md4 col-lg">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [title]="'HTML'"
    [titleFontSize]="'3em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class="tex-center col-sm-4 col-md4 col-lg">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [title]="'CSS'"
    [titleFontSize]="'3em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class="tex-center col-sm-4 col-md4 col-lg">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [title]="'JavaScript'"
    [titleFontSize]="'2em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
</div>
<div class="row"> 
   <div class="tex-center col-sm-4 col-md4 col-lg">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [title]="'Github'"
    [titleFontSize]="'3em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class="tex-center col-sm-4 col-md4 col-lg">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [title]="'Ingles'"
    [titleFontSize]="'3em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
   <div class="tex-center col-sm-4 col-md4 col-lg">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'Trabajo en equipo'"
    [titleFontSize]="'1em'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
></circle-progress>
   </div>
</div>